{[{ define "body" }]}
<section class="content-header">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-body">
                    <div id="listUser">
                        <a href="?tag=">ALL</a>
                        {[{ range .tags}]}| <a href="?tag={[{.}]}">{[{.}]}</a>{[{ end }]}
                    </div>
                    <div id="listContainer" style="height: 200px;overflow: scroll;">
                        <table class="table table-hover" id="list">
                            <thead>
                                <tr>
                                    <th width="150">提交</th>
                                    <th width="*">信息</th>
                                </tr>
                            </thead>
                            <tbody>
                                {[{ range .ps}]}
                                <tr>
                                    <td><a href="/admin_webhook/detail?WID={[{.WID}]}"
                                            target="ifr">{[{.Time|show_time}]}<br>{[{.Body|show_pusher}]}</a>
                                    </td>
                                    <td><a href="{[{.Body|show_commits_url}]}"
                                            target="ifr">{[{.Body|show_commits_message}]}</a></td>
                                </tr>
                                {[{ end }]}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box">
                <div class="box-body">
                    <iframe name="ifr" style="width:100%;height:100%;border:0"></iframe>
                </div>
            </div>
        </div>
    </div>

</section>


<script>
    $(function () {
        $('#list').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': true,
            'pageLength': 50,
            "order": [[0, "desc"]]
        })

        $("#listContainer").height($(window).height() - $("#listUser").height() - 90)
        $("[name=ifr]").height($(window).height() - 100)
    })
</script>
{[{ end }]}